@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    -mox-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialised;
}

body {
    height: 100%;
    font-size: 1.6rem;
    line-height: 1.5;
}

#app {
    height: 100%;
    position: relative;
}

a {
    text-decoration: none;
}
